<h2>Componente Create</h2>

<form [formGroup]="postForm" (ngSubmit)="onSubmit()" novalidate>

  <div class="mb-3">
    <label class="form-label">Nombres</label>
    <input formControlName="Nombres" type="text" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Apellidos</label>
    <input formControlName="Apellidos" type="text" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Correo</label>
    <input formControlName="Correo" type="text" class="form-control" required>
  </div>
  <button [disabled]="!postForm.valid" type="submit" class="btn btn-primary">Registrar</button>

</form>
