<form novalidate>
<br><br>
  <div class="mb-3">
    <label class="form-label">Autor</label>
    <input formControlName="Autor" type="text" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Correo Autor</label>
    <input formControlName="CorreoAu" type="text" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Mensaje</label>
    <input formControlName="Mensaje" type="text" class="form-control" required>
  </div>
  <a id="myLink" href="show" class="btn btn-primary">Enviar</a>&nbsp;&nbsp;
  <a id="myLink" href="show" class="btn btn-secondary">Volver</a>

</form>
